<h2 style="text-align: center; font-weight:bold">Heroes</h2>
<ul class="heroes">
<li *ngFor="let hero of heroes">
  <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span class="name">{{hero.name}}</span>
  </button>
</li>
</ul>

<div *ngIf="selectedHero">

<h2>{{selectedHero.name | uppercase}} is your hero</h2>
<a [routerLink]="['../details', selectedHero.id]"><button type="button">Edit</button></a>



