<h2 style="text-align: center; font-weight:bold">Add a hero</h2>
<div class="AddHero">
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName /> 
  <label for="new-hero">Hero class: </label>
  <input id="new-hero" #heroClass />
  <label for="new-hero">Hero desc: </label>
  <input id="new-hero" #heroDesc />
  <label for="new-hero">Hero Dmg: </label>
  <input type="number" id="new-hero" [(ngModel)]="Dmg" #heroDmg />
  <br>
  <button type="button" class="add-button" style="background-color:#405061" (click)="addHero(heroName.value,heroClass.value,heroDesc.value,heroDmg.value); heroName.value='';heroClass.value='';heroDesc.value='';heroDmg.value='';">
    Add hero
  </button> 
  &nbsp; 
  <button type="button" class="cancel-button" style="background-color:#405061" (click)="heroName.value='';heroClass.value='';heroDesc.value='';heroDmg.value='';">
    Cancel
  </button>
</div>
<h2 style="text-align: center; font-weight:bold">Heroes</h2>
<ul class="heroes">
<li *ngFor="let hero of heroes">
  <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span class="name">{{hero.name}}</span>
  </button>
  <button type="button" class="delete" title="delete hero" (click)="deleteHero(hero.id)">Delete</button>
</li>
</ul>

<div style="margin-left:10" *ngIf="selectedHero">

<h2>{{selectedHero.name | uppercase}} is a {{selectedHero.classH | uppercase}}</h2>
<a [routerLink]="['../details', selectedHero.id]"><button style="background-color:#405061" type="button">Go to details</button></a>
</div>



