
<h2 style="text-align:center; font-weight:bold">Detailed Informations</h2>
  <div class="detail"  *ngIf ="heroe">
    <label>id  : {{heroe.id}} </label><br>
    <label for="hero-name">name :</label>
    <input id="hero-name" [(ngModel)]="heroe.name" (change)="OnChange($event)" placeholder="{{heroe.name}}"><br> 
    <label for="hero-desc">desc :</label>
    <input id="hero-desc" [(ngModel)]="heroe.desc" placeholder="{{heroe.desc}}"><br>
    <label for="hero-class">class :</label>
    <select id="new-hero" [(ngModel)]="heroe.classH" name="class">
      <option value="Sorcerer">Sorcerer</option>
      <option value="Bard">Bard</option>
      <option value="Paladin">Paladin</option>
      <option value="Warrior">Warrior</option>
      <option value="Assassin">Assassin</option>
      <option value="Berserker">Berserker</option>
      <option value="Demonist">Demonist</option>
    </select>
    <br><br>
    <label for="hero-dmg">Total Damage :</label>
    <input type="number" id="hero-dmg" [(ngModel)]="heroe.damage_dealt" (change)="OnChange($event)" placeholder="{{heroe.damage_dealt}}"><br>
  
  <button type="button" style="background-color:#405061" (click)="save()">save</button>&nbsp;
  <button type="button" style="background-color:#405061" (click)="goBack()">back</button>
</div>